/* FORM STYLING PAGE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
/* holds the form */
.form-container {
    background: lightblue;
    min-height: 100vh;

    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* the actual form */
form {
    background: white;
    padding: 20px;
    margin: 0 auto;
    box-shadow: -3px 6px 10px 3px rgb(138, 198, 218);


    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: .5fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 20px 0px; 
    grid-template-areas: 
        "."
        "."
        "."
        "."
        "."
        "."; 
    width: 70%; 
    max-width: 500px;
    height: 80vh;
    
}
/* hold each form element */
.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* styling inputs */
input, select {
    padding: 20px;
    width: 70%;
    border-radius: 15px;
    -webkit-appearance: none;
    -webkit-box-shadow: -3px 6px 10px 3px #dfdfdf;
    box-shadow: -3px 6px 10px 3px #dfdfdf;
}
select {
    width: 40%;
}
/* select label */
.form-box:nth-child(4) > label {
    /* border: 2px solid red; */
    padding-right: 20px;
}

/* styles the writing box */
textarea {
    border: 2px solid lightblue;
    padding: 10px;
    min-height: 100px;
    width: 100%;
    resize: none;
}
/* button */
.form-box:nth-child(6) > input {
    background: lightblue;
    color: white;
    box-shadow: -3px 6px 10px 3px rgb(201, 219, 224);

}
