/* STYLING FOR FEATURES ON MULTIPLE PAGES */
/* 
    1.) .horario-map-section
    2.) .big-logo-section
    3.) .hideme
*/


/* HORARIO-MAP-SECTION*/

.horario-map-section {
    min-height: 70vh;
    padding: 50px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
    overflow: hidden;
}
.horario-box {
    color: #435357; 
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}
.horario-box h3 {
    text-decoration: underline 2px;
    grid-column: 1 / 3;
    text-align: center;
}
.horario-box p {
  color: #72c491;
  line-height: 2.5rem;
  padding: 20px;
    
}
.horario-map-section img {
  display: block;
}
 
/* big-logo-section */
.big-logo-section {
    padding: 50px 0;
    margin-bottom: 50px ;
}
.big-logo-section img {
    display: block;
    width: 20rem;
    margin: 0 auto;
}


/* media queries */
@media screen and (min-width: 320px){
   
    .horario-box {
        margin: 0 20px;
        padding: 20px;
    }
    .horario-box h3 {
        font-size: 2.5rem;
    }
    .horario-box p{
        font-size: 1.7rem;
    }
    .horario-map-section img {
        width: 25rem;
        padding: 20px 40px;
    }
}
 
@media screen and (min-width: 820px){
  /* SECTION THREE */
 
  .horario-box h3 {
    font-size: 2.5rem;
  }
  
   
}
@media screen and (min-width: 1230px){
    
}

/* .hideme */

.hideme
{
    opacity:0;
}