/* Home page sections styling */
/* colors: 
  #72c491 light
  #435357 dark
 */

/* SECTION ONE STYLING */

/* SLIDESSHOW */
.mySlides {display: none;}
img {
   vertical-align: middle;
}

/* Slideshow container no style here, in main!!! */

/* The dots/bullets/indicators */
.dot {
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #72c491;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #435357;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* INFO AND BUTTON BOX */
.info-btn {
  color: #435357;
  margin-bottom: 50px;
}
.info-btn div {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
}
/* o llamanos al... */
.info-btn div p{
  color: #72c491;
  margin-left: 10px;
  font-size: 1rem;

  
}
.contact-btn {
  font-size: 1.4rem;
  border-style: none;
  background: #72c491;
  color: white;
  margin: 10px 0;
  padding: 10px 20px;
}


/* SECTION TWO STYLING */

/* INFO BOX STYLING */
.section-two {
  position: relative;
}
.info-box {
    color: #435357;
}
.info-box h3 {
    line-height: .8;
    margin-bottom: 30px;
    position: relative;
}

#decor::after{
    content:'';
    display: block;
    background: #72c491;
    height: 100px;
    width: 258px;
    position: absolute;
    z-index: -1;
    top: -30%;
    right: 0;
}

.info-box p {
    text-align: center;
    color: #72c491;
}

/* image holder */
.img-container {
    position: relative;
}
#decor2 {
  background: #72c491;
  height: 100px;
  width: 300px;
  position: relative;
  top: -2rem;
  right: -15rem;
}

.section-two img {
    display: block;
    
}




/* SECTION FOUR STYLING */

.section-four h3 {
  text-align: center;
  position: relative;
  color: #435357;
    
}
/* decor line of h3 */
.section-four h3::after {
  content: '';
  display: block;
  background: #435357;
  height: 30px;
  width: 2px;
  margin: 20px auto;

}
/* Holds all the iboxes inside */
.icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/*Iboxes Holds an icon-container and h4 */
/* styling on main */


.icon-container {
    border: 3px solid #435357;
    border-radius: 100%;
    height: 5rem;
    width: 5rem;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}


.ibox h4 {
  margin: 0 auto;
  text-align: center;
  color: #435357;
}



/* SECTION CONTROL */
.section-one, .section-two  {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
  .section-one {
    min-height: 100vh;
    overflow: hidden;

  }
  .section-two {
    min-height: 70vh;
    margin-bottom: 50px;
    overflow: hidden;

  }
  .section-four {
    display: grid;
    grid-template-rows: auto auto;
}
 
  
  .socials {
    background: #72c491;
    height: 300px;
    margin-top: 50px;
  
  }
  
  
  /* section's responsiveness */
  @media screen and (min-width: 320px){
    /* SECTION ONE */
    .slideshow-container {
      margin-top: 50px;
    }

    .info-btn {
      font-size: 2.8rem;
      margin: 50px 0;
    }
  
    /* SECTION TWO */
    .info-box {
      margin: 30px 0;
    }
    .info-box h3 {
      font-size: 2.5rem;
    }
    .info-box p {
      font-size: 1.7rem;
    }
    
  
    /* SECTION FOUR */
    .section-four h3 {
      font-size: 2rem;
    }
    .ibox {
      margin: 20px 20px;
      font-size: 1.2rem;
      width: 10rem;
    }
   
  }
  
  
  @media screen and (min-width: 800px){
    /* SECTION ONE */
    .slideshow-container {
      margin-top: 50px;
    }
    .info-btn {
      /* border: 2px solid red; */
      font-size: 3rem;
    }
    .slideshow-container {
      /* border: 2px solid red; */
      width: 30rem;
      margin-right: 50px;
    }
  
    /* SECTION TWO */
    .info-box {
      margin-right: 50px;
    }
    .info-box h3 {
      font-size: 2.5rem;
    }
    .info-box p {
      font-size: 1.7rem;
    }
    
  
    
  }
  
  @media screen and (min-width: 1230px){
    
    /* SECTION ONE */
   
    .info-btn {
      font-size: 4rem;
    }
    .slideshow-container {
      margin-right: 150px;
    }
    
  
    
  }