
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  color: lightblue;
}
/* holds company logo and name */
header {
  height: 50px;
  width: 60%;
  color: lightblue;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 10%;
}
/* Company logo and name*/
.logo {
  background: lightblue;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
#company-name {
  margin-left: 20px;
  font-size: 1.2rem;
}


/* SECTION CONTROL */
section {
  border: 2px dotted black;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  overflow: hidden;
}
.section-one {
  min-height: 100vh;
}
.section-two {
  min-height: 100vh;
}

.socials {
  background: lightblue;
  height: 300px;
  margin-top: 50px;

}




/* section's responsiveness */
@media screen and (min-width: 320px){
  /* SECTION ONE */
 
  .info-btn {
    /* border: 2px solid red; */
    font-size: 3rem;
    margin: 50px 0;
  }

  /* SECTION TWO */
  .info-box {
    /* border: 2px solid black; */
    margin: 50px auto;
  }
  .info-box h3 {
    font-size: 2.5rem;
  }
  .info-box p {
    font-size: 1.7rem;
  }
  .img-container {
    margin-bottom: 50px;
  }
 
}


@media screen and (min-width: 800px){
  /* SECTION ONE */
  .info-btn {
    /* border: 2px solid red; */
    font-size: 3rem;
  }
  .slideshow-container {
    /* border: 2px solid red; */
    width: 30rem;
    margin-right: 50px;

  }

  /* SECTION TWO */
  
  .info-box h3 {
    font-size: 3rem;
  }
  .info-box p {
    font-size: 2rem;
  }
  .section-two img {
    width: 30rem;
    margin-right: 100px;
  }

}

@media screen and (min-width: 1230px){
  /* SECTION ONE */
 
  .info-btn {
    /* border: 2px solid red; */
    font-size: 4rem;
  }
  .slideshow-container {
    /* border: 2px solid red; */
    width: 40rem;
  }

  /* SECTION THREE */
  .info-box h3 {
    font-size: 3.3rem;
  }
  .info-box p {
    font-size: 2.3rem;
  }
  .section-two img {
    width: 35rem;
  }

  
}