/* colors: 
  #72c491 light
  #435357 dark
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none
}


/* WEBGL, THREE.JS */
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  /* background: black; */
  z-index: -4;
}

/* holds company logo and name */

.logo-link{
  /* border: 2px solid blue; */
  display: block;
  color: inherit;

  padding-top: 30px;

  display: flex;
  text-decoration: none;
  
}
/* Company logo and name*/

.logo {
  /* border: 2px solid red; */
  display: block;
  object-fit: contain;
  
  
}
#company-name {
  /* border: 2px solid green; */
  color: #435357;
  align-self: center;
}

@media screen and (min-width: 320px){
  /* header */
  .logo-link {
    width: 20rem;
  }
  .logo {
    width: 4rem;
  }
  #company-name {
    font-size: 1.2rem;
    
  }
}
@media screen and (min-width: 790px){
  /* header */
  .logo-link {
    width: 25rem;
    margin-left: 50px;
  }
 
  #company-name {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1230px){
  /* header */
 
  
}