/* colors: 
  #72c491 light
  #435357 dark
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none
}


/* WEBGL, THREE.JS */
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  /* background: black; */
  z-index: -4;
}

/* holds company logo and name */
header {
  /* border: 2px solid gold; */
  height: 50px;
  color: #435357; 
  
  display: flex;
  position: relative;
}
header a {
  /* border: 2px solid blue; */
  display: block;
  color: inherit;

  display: flex;
  text-decoration: none;
  
}
/* Company logo and name*/

.logo {
  /* border: 2px solid red; */
  display: block;
  
}
#company-name {
  /* border: 2px solid green; */
  align-self: center;
}

@media screen and (min-width: 320px){
  /* header */
  header {
    margin: 20px 0;
    
  }
  #company-name {
    font-size: 1.2rem;
    margin-left: 20px;
  }
}
@media screen and (min-width: 790px){
  /* header */
  header a {
    margin-left: 20px;
  }
  #company-name {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1230px){
  /* header */
  header {
    width: 80vw;
    margin: 20px auto;
  }
  
}