
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  color: lightblue;
}
/* WEBGL, THREE.JS */
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  /* background: black; */
  z-index: -4;
}

/* holds company logo and name */
header {
  /* border: 2px solid gold; */

  height: 50px;
  width: 20rem;
  color: lightblue;

  position: absolute;
  top: 0;
  left: 50px;
}
header a {
  display: block;
  color: inherit;
  display: flex;
  align-items: center;
  text-decoration: none;

}
/* Company logo and name*/

.logo {
  /* border: 2px solid red; */
  display: block;
  width: 2.5rem;
  
}
#company-name {
  margin-left: 20px;
  font-size: 1.2rem;
}

@media screen and (min-width: 320px){
  /* header */
  header {
    left: 20px;
  }
}
@media screen and (min-width: 800px){
  /* header */
  header {
    left: 50px;
  }
}
@media screen and (min-width: 1230px){
  /* header */
  header {
    left: 150px;
  }
  
}