/* Styling for services page */
/* colors: 
  #72c491 light
  #435357 dark
 */


body {
  min-height: 150vh;
}

.services {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flip-card {
  /* border: 2px solid black; */
  background: white;
  height: 33rem;
  perspective: 1000px;
  margin: 20px auto;

}

.flip-card-inner {
  /* border: 2px solid yellow; */
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 10px 10px 5px 0px rgba(173,216,230,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(173,216,230,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(173,216,230,0.75);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background: #72c491;
  color: white;
  padding: 5px;
}

.flip-card-front h3 {
  color: #72c491;
  background: white;
  padding: 10px;
  font-size: 2.3rem;

}

.flip-card-front a {
  display: block;
  margin: 0 auto;
  width: 80%;
}
.service-box {
  /* border: 2px solid white; */

  margin: 20px auto;
  width: 80%;
  
}

.button {
  display: inline-flex;
  
  padding: 30px 0;
  width: 80%;
  border: 2px solid #435357;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;
  cursor: pointer;
}



#translate {
  transform: rotate(50deg);
  width: 100%;
  height: 150%;
  left: -250px;
  /* top: -30px; */
  background: #435357;
  position: absolute;
  transition: all .3s ease-Out;
}

.button:hover #translate {
  left: -0px;
}
.button p {
  position: relative;
}
.button:hover p {
  color: #72c491;
}




.flip-card-back {
  background-color: #435357;
  color: white;
  transform: rotateY(180deg);
}
.flip-card-back p {
  font-size: 1.5rem;
}


.fliping {
  transform: rotateY(180deg);
}

/* ART ANIMATION STYLING */
.art-box {
  background: #435357;
  border-radius: 100%;
  margin: 50px auto 0 auto;
  height: 350px;
  width: 350px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
#s {
  background: rgb(221, 146, 118);
  border-top: 20px solid rgb(238, 176, 153);
  height: 120px;
  width: 400px;

  position: absolute;
  bottom: 0;
}
.c {
  background: rgb(253, 242, 242);
  position: absolute;
  z-index: 1;
  bottom: 80px

}
#c-one {
  border-radius: 49% 47% 30% 34% / 52% 49% 37% 34% ;
  
  animation: gums 4s alternate infinite;


  height: 130px;
  width: 130px;

  display: flex;
  justify-content: center;
  align-items: center;


}
#sq {
  background: rgb(253, 242, 242);
  height: 93px;
  width: 90px;
  transform: rotate(35deg);
  border-radius: 20px;
  /* border: 2px solid black; */
  position: relative;
  top: -30px;
  left: -5px;
  
}
#c-two {
  border-radius: 49% 47% 30% 34% / 52% 49% 37% 34% ;
  height: 100px;
  width: 100px;

  right: 0;
   
}
#c-three {
border-radius: 49% 47% 30% 34% / 52% 49% 37% 34% ;
height: 100px;
width: 100px;

left: 0;
}
.dots {
  /* border: 2px solid grey; */
  border-radius: 0 0 40px 40px;
  height: 50px;
  width: 130px;

  position: absolute;
  bottom: 0;

  overflow: hidden;
}
.dots span {
  display: block;
  position: absolute;
  background: grey;
  
  border-radius: 20px;
  animation: cavity 4s alternate infinite;
}

@keyframes cavity {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes gums {
  0% {
     box-shadow: 1px 29px 0px -1px rgba(242,69,69,0.75),
    1px -30px 0px -5px rgba(227,230,143,0.75) inset;
    -webkit-box-shadow: 1px 29px 0px -1px rgba(242,69,69,0.75),
      1px -30px 0px -5px rgba(227,230,143,0.75) inset;
    -moz-box-shadow: 1px 29px 0px -1px rgba(242,69,69,0.75),
      1px -30px 0px -5px rgba(227,230,143,0.75) inset; 
  }
  33% {
    box-shadow: 1px 29px 0px -1px rgba(242,69,69,0.75),
    1px -30px 0px -5px rgba(227,230,143,0.75) inset;
    -webkit-box-shadow: 1px 29px 0px -1px rgba(242,69,69,0.75),
      1px -30px 0px -5px rgba(227,230,143,0.75) inset;
    -moz-box-shadow: 1px 29px 0px -1px rgba(242,69,69,0.75),
      1px -30px 0px -5px rgba(227,230,143,0.75) inset; 
  }
  66% {
    box-shadow: 1px 29px 0px -1px rgba(242,69,69,0.75),
    1px -30px 0px -5px rgb(253, 242, 242) inset;
    -webkit-box-shadow: 1px 29px 0px -1px rgba(242,69,69,0.75),
    1px -30px 0px -5px rgb(253, 242, 242) inset;
    -moz-box-shadow: 1px 29px 0px -1px rgba(242,69,69,0.75),
    1px -30px 0px -5px rgb(253, 242, 242) inset;
  }
  99% {
    box-shadow: 1px 29px 0px -1px rgb(221, 146, 118),
    1px -30px 0px -5px rgb(253, 242, 242) inset;
    -webkit-box-shadow: 1px 29px 0px -1px rgb(221, 146, 118),
    1px -30px 0px -5px rgb(253, 242, 242) inset;
    -moz-box-shadow: 1px 29px 0px -1px rgb(221, 146, 118),
    1px -30px 0px -5px rgb(253, 242, 242) inset;
  }
 
}
@media screen and (min-width: 300px){
  .flip-card {
    width: 20rem;
  }
}
@media screen and (min-width: 600px){
  .flip-card {
    width: 25rem;
    margin: 20px 20px;
  }
}
@media screen and (min-width: 900px){
  .flip-card {
    width: 30rem;
  }
}
