/* SECTION FOUR STYLING */

.section-four {
    display: grid;
    grid-template-rows: auto auto;
}
.section-four h3 {
    text-align: center;
    position: relative;
}
/* decor line of h3 */
.section-four h3::after {
    content: '';
    display: block;
    background: lightblue;
    height: 30px;
    width: 2px;
    margin: 20px auto;

}
/* Holds all the iboxes inside */
.icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*Iboxes Holds an icon-container and h4 */
/* styling on main */

.icon-container {
    border: 3px solid lightblue;
    border-radius: 100%;
    height: 5rem;
    width: 5rem;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}


.ibox h4 {
    text-align: center;
}