/* SECTION TWO STYLING */

/* INFO BOX STYLING */
.info-box {
  color: lightblue;
}
.info-box h3 {
  line-height: .8;
  margin-bottom: 30px;
  position: relative;
}

#decor::after{
  content:'';
  display: block;
  background: lightblue;
  height: 100px;
  width: 258px;
  opacity: .5;
  position: absolute;
  top: -30%;
  right: 0;
}

.info-box p {
  text-align: center;
}


/* image holder */
.img-container {
  position: relative;
}
.img-container::after {
  content:'';
  display: block;
  background: rgb(194, 221, 229);
  height: 100px;
  width: 400px;
  position: absolute;
  bottom: -20%;
  right: -10%;
  
}
.section-two img {
  display: block;
}
