.topnav {
    /* overflow: hidden; */
    /* border: 2px solid black; */
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    padding-top: 30px; 
    transition: all .5s ease-in-out;
    

  }
  
  .topnav a {
    float: left;
    display: block;
    color: #435357;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
 
  .topnav .icon {
    /* border: 2px solid red; */
    display: none;
    color: #435357;
    transform: scale(1.5);
   
  }
  
  @media screen and (max-width: 790px) {
      .topnav {
        height: 50px;
        width: 50px;
        right: 0;
      }
      .topnav a {display: none;}
      .topnav div.icon {
        display: block;
        position: absolute;
        top: 50px;
        right: 50px;
       
      }
  }
  
  @media screen and (max-width: 790px) {
    .topnav.responsive {
        background-color: #72c491;
        position: fixed;

        height: 100%;
        width: 100vw;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 2;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 50px;
      top: 50px;
    }
    .topnav.responsive a {
        color: white;
        float: none;
        display: block;
        text-align: left;
    }
  }

@media screen and (max-width: 1000px) {

}