.topnav {
    /* overflow: hidden; */
    /* border: 2px solid black; */
    position: absolute;
    z-index: 999;
    top: 0;
    right: 100px;

    transition: all .5s ease-in-out;

  }
  
  .topnav a {
    float: left;
    display: block;
    color: lightblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
   */
  .topnav .icon {
    display: none;
    color: rgb(54, 163, 199);
    transform: scale(1.5);
    /* margin: 15px 50px; */
    margin-top: 15px;
    margin-right: 50px;
  }
  
  @media screen and (max-width: 790px) {
      .topnav {
        height: 50px;
        width: 50px;
        right: 0;
      }
      .topnav a {display: none;}
      .topnav div.icon {
        float: right;
        display: block;
      }
  }
  
  @media screen and (max-width: 790px) {
    .topnav.responsive {
        background-color: lightblue;
        position: fixed;

        height: 100%;
        width: 100vw;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 2;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
        color: white;
        float: none;
        display: block;
        text-align: left;
    }
  }